<div class="navbar bg-base-100 shadow-sm">
  <div class="flex-1">
    <%= link_to "ALPHA BLOG", root_path, class:"cursor-pointer text-3xl" %>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li>
        <%= link_to "Articles", articles_path%>
      </li>
      <li>
        <details>
          <summary>Dropdown</summary>
          <ul class="bg-base-100 rounded-t-none p-2">
            <li><a>Option 1</a></li>
            <li><a>Option 2</a></li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
</div>